<link rel="stylesheet" href="/styles/others.css" media="screen" title="no title" charset="utf-8">

<div class="container">
    <!-- Embed of responsive video -->
    <div class="row embed-responsive embed-responsive-16by9" id="video">
        <iframe width="534" height="315" src="https://www.youtube.com/embed/JaSe85Mcwp0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <!-- Links to environmental issues -->
    <div class="row card-deck">
        <div class="card">
            <a href="https://www.doityourself.com/stry/what-is-chemical-waste" target="_blank"><img class="card-img-top" src="https://media.istockphoto.com/vectors/chemical-waste-yellow-barrel-toxic-refuse-keg-poisonous-liquid-cask-vector-id683754500"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="https://www.doityourself.com/stry/what-is-chemical-waste" target="_blank">Chemical
                        Waste</a></h5>
                <p class="card-text">
                    If you've ever been curious about what constitutes chemical waste, read on to learn the basics.</p>
                <a href="https://www.doityourself.com/stry/what-is-chemical-waste" target="_blank" class="btn btn-primary">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.nationalgeographic.com/environment/global-warming/pollution/" target="_blank"><img class="card-img-top"
                    src="https://images.cdn3.stockunlimited.net/preview1300/air-pollution_2006233.jpg" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="https://www.nationalgeographic.com/environment/global-warming/pollution/" target="_blank">Air
                        Pollution</a></h5>
                <p class="card-text">If you've ever been curious about what constitutes air pollution, read on to
                    learn the basics.</p>
                <a href="https://www.nationalgeographic.com/environment/global-warming/pollution/" target="_blank" class="btn btn-primary">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.nrdc.org/stories/water-pollution-everything-you-need-know" target="_blank">
                <img class="card-img-top" src="https://previews.123rf.com/images/carlacdesign/carlacdesign1604/carlacdesign160400147/54670647-water-pollution-vector.jpg"
                    alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="https://www.nrdc.org/stories/water-pollution-everything-you-need-know" target="_blank">Water
                        Pollution</a></h5>
                <p class="card-text">If you've ever been curious about what constitutes water pollution, read on to
                    learn the basics.</p>
                <a href="https://www.nrdc.org/stories/water-pollution-everything-you-need-know" target="_blank" class="btn btn-primary">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.conserve-energy-future.com/causes-effects-solutions-of-land-pollution.php" target="_blank"><img class="card-img-top"
                    src="http://worldartsme.com/images/land-pollution-clipart-1.jpg" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="https://www.conserve-energy-future.com/causes-effects-solutions-of-land-pollution.php" target="_blank">Land
                        Pollution</a></h5>
                <p class="card-text">If you've ever been curious about what constitutes land pollution, read on to
                    learn the basics.</p>
                <a href="https://www.conserve-energy-future.com/causes-effects-solutions-of-land-pollution.php" target="_blank" class="btn btn-primary">Read</a>
            </div>
        </div>
    </div>
</div>

<script>
    $("#others").addClass("active");
</script>