<div class="container">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter your name ">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="address" class="form-control" id="address" placeholder="Address">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="address" class="form-control" id="city" placeholder="City">
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="state" class="form-control" id="state" placeholder="State">
                </div>
                <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input type="zipcode" class="form-control" id="zipcode" placeholder="Zipcode">
                </div>
            </form>
        </div>
        <div class="col-6">
            <form class="report-form">
                <div class="form-group">
                    <label for="username">Violation Description</label>
                    <textarea class="form-control" id="violationDescription" rows="6" placeholder="Message.."></textarea> </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category">
                        <option>Please Choose One</option>
                        <option>Chemical waste</option>
                        <option>Air pollution</option>
                        <option>Water pollution</option>
                        <option>Land pollution</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Rating</label>
                    <select class="form-control" id="rating">
                        <option>Please Choose One</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>

</div>

<script src="/js/reports.js"></script>
