<div class="container" id="search-container">

    <div id="accordion">
        <div class="card" id="accordion-layout">
            <div class="card-header" id="headingOne">

                <h5 class="mb-0">

                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Search for Environmental Violation by Location
                    </button>

                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col-8">
                                <input type="text" id="input-address" class="form-control" placeholder="Address">
                            </div>
                            <div class="col-4">
                                <button type="button" id="search-address" class="btn btn-success">Search by Address</button>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-8">
                                <input type="text" id="input-city" class="form-control" placeholder="City">
                            </div>
                            <div class="col-4">
                                <button type="button" id="search-city" class="btn btn-success">Search by City</button>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-8">
                                <select class="form-control" id="input-state">
                                    <option>State</option>
                                    <option>AL</option>
                                    <option>AK</option>
                                    <option>AZ</option>
                                    <option>AR</option>
                                    <option>CA</option>
                                    <option>CO</option>
                                    <option>CT</option>
                                    <option>DE</option>
                                    <option>FL</option>
                                    <option>GA</option>
                                    <option>HI</option>
                                    <option>ID</option>
                                    <option>IL</option>
                                    <option>IN</option>
                                    <option>IA</option>
                                    <option>KS</option>
                                    <option>KY</option>
                                    <option>LA</option>
                                    <option>ME</option>
                                    <option>MD</option>
                                    <option>MA</option>
                                    <option>MI</option>
                                    <option>MN</option>
                                    <option>MS</option>
                                    <option>MO</option>
                                    <option>MT</option>
                                    <option>NE</option>
                                    <option>NV</option>
                                    <option>NH</option>
                                    <option>NJ</option>
                                    <option>NM</option>
                                    <option>NY</option>
                                    <option>NC</option>
                                    <option>ND</option>
                                    <option>OH</option>
                                    <option>OK</option>
                                    <option>OR</option>
                                    <option>PA</option>
                                    <option>RI</option>
                                    <option>SC</option>
                                    <option>SD</option>
                                    <option>TN</option>
                                    <option>TX</option>
                                    <option>UT</option>
                                    <option>VT</option>
                                    <option>VA</option>
                                    <option>WA</option>
                                    <option>WA</option>
                                    <option>WV</option>
                                    <option>WI</option>
                                    <option>WY</option>
                                    <option>--US Commonwealth and Territories--</option>
                                    <option>AS</option>
                                    <option>DC</option>
                                    <option>FM</option>
                                    <option>GU</option>
                                    <option>MH</option>
                                    <option>MP</option>
                                    <option>PW</option>
                                    <option>PR</option>
                                    <option>VI</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <button type="button" id="search-state" class="btn btn-success">Search by State</button>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" id="input-zip" class="form-control" placeholder="Zipcode">
                            </div>
                            <div class="col-4">
                                <button type="button" id="search-zip" class="btn btn-success">Search by Zipcode</button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul id="search-list" class="search-group">

                </ul>
            </div>
        </div>


        <div class="card" id="accordion-layout">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Search for Environmental Articles
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col-8">
                                <input type="text" id="input-article" class="form-control" placeholder="Search for Articles Related to Your Environmental Concerns">
                            </div>
                            <div class="col-4">
                                <button type="button" id="search-article" class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul id="search-article-list" class="search-group">

                </ul>

            </div>
        </div>
    </div>

</div>
</div>

<script src="/js/search.js"></script>