<link rel="stylesheet" href="styles/search.css" media="screen" title="no title" charset="utf-8">

<br>

<br>



<div class="container" id="search-container">

    <h6>Search Environmental Issues In Your Area</h6>



    <div id="accordion">
        <div class="card" id="accordion-layout">
            <div class="card-header" id="headingOne">

                <h5 class="mb-0">

                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Search Your Location
                    </button>

                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">

                    <form>
                        <div class="form-row">
                            <div class="col-7">
                                <input type="text" id ="input-city"class="form-control" placeholder="City">
                            </div>
                            <div class="col">
                                <input type="text" id = "input-state" class="form-control" placeholder="State">
                            </div>
                            <div class="col">
                                <input type="text" id="input-zip"class="form-control" placeholder="Zip">
                            </div>
                        </div>
                    </form>
                </div>

                <button type="button" id= "search" class="btn btn-success">Search </button>

            </div>

            <ul id="search-list" class="search-group">
                {{#each location}}
                <li>
                    <p><span class="search-group-city" data-id="{{this.city}}">City:</span></p>
                    <p><span class="label">State:</span> {{this.State}}</p>
                    <p><span class="search-group-zip" data-id="{{this.zipcode}}">zipcode:</span></p>
                    <p><span class="label">violation_description:</span> {{this.violation_description}}</p>


                </li>
                {{/each}}
            </ul>

        </div>


        <div class="card" id="accordion-layout">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Search EPA Articles
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                    coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                    anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                    heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/js/search.js"></script>