.btn-primary {
    background-color: #374897 !important;
    border: #374897 !important;
    opacity: 1;
}

.btn-primary:hover {
    opacity: 0.75;
}

#card {
    border: 1px solid #2C7873;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    width: 33%;
}
  
#index-container{
    background-image: url('../images/envi_earth.jpg');
    /* background-color: lightgreen; */
    width:100%;
    height:100%;
}

h3{
    margin-left: 20px;
    padding-top: 5px; 
    text-align: center;
}
  
#secondContainer{
    background-color: #dbfbe0;
}

#video{
    border-radius: 20px;
}

#recentReports{
    border-radius: 20px;
    background-color: rgb(226, 235, 233)
}
