.list-group-item {
  line-height: 2.5;
}

body {
  background-color: #dbfbe0;
}

#banner-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#accordion {
  padding-left: 50px;
  padding-right: 50px;
}

h5{
  padding-left: 50px;
}


