.list-group-item {
  line-height: 2.5;
}

body {
  background-color: #dbfbe0 !important;
  color: #374897;
}

.navbar-brand, .navbar-toggler, .nav, .collapse, .navbar-expand-lg, .navbar-light, .bg-light {
  background-color: #dbfbe0!important;
}

#banner-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




.container {
  background: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}

/* @media (min-width: 768px){
.container {
    max-width: 720px;
}}

@media (min-width: 992px) {
.container {
    max-width: 960px;
}} */


footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #2C7873;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #fff;
}

hr {
  background-color: #2C7873;
  height: 2px;
  width: 85%;
}

#tagline {
  margin-left: auto;
  margin-right: auto;
}
